<!DOCTYPE html>
<html>
<head>
    <title>Search Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <h2>Employee Management System</h2>

        <div>
            <a href="/employees">Employees</a>
            <a href="/addemployee">Add Employee</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>

    <div class="container">

        <h1>Search Employee</h1>

        <form method="POST">

            <input
                type="text"
                name="search"
                placeholder="Search by name, email or department"
                required
            >

            <button type="submit">Search</button>

        </form>

        <br>

        {% if employees %}

        <table>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Joining Date</th>
                <th>Address</th>
            </tr>

            {% for employee in employees %}

            <tr>

                <td>{{ employee["id"] }}</td>
                <td>{{ employee["fullname"] }}</td>
                <td>{{ employee["email"] }}</td>
                <td>{{ employee["department"] }}</td>
                <td>{{ employee["phone"] }}</td>
                <td>₹{{ employee["salary"] }}</td>
                <td>{{ employee["joiningdate"] }}</td>
                <td>{{ employee["address"] }}</td>

            </tr>

            {% endfor %}

        </table>

        {% elif request.method == "POST" %}

        <p>No employee found.</p>

        {% endif %}

    </div>

</body>
</html>